:root{
    --dark-red: #5f002b;
    --light-brown: #f2e9d9;
    --light: #ffffff;
    --red: #980051;
}

@font-face{
    font-family: 'FugazOne';
    src: url(/assets/fonts/FugazOne-Regular.ttf);
}

@font-face{
    font-family: 'Montauk';
    src: url(/assets/fonts/Montauk-Regular.otf);
}

@font-face{
    font-family: 'Montauk-Light';
    src: url(/assets/fonts/Montauk-Light.otf);
}

.text-xs{
    font-size: 14px;
}

body{
    background-image: url('../assets/bgtexture.jpg');
    background-repeat: repeat;
}


.fugaz-text{
    font-family: 'FugazOne';
    color: var(--dark-red);
}

.montauk-text{
    font-family: 'Montauk';
    color: var(--dark-red);
}


/* Header */
.nav-btn{
    font-family: 'FugazOne';
    color: var(--dark-red);
    background-color: transparent;
    border: none;
    padding: 10px;
}

.nav-btn:hover{
    color: var(--red);
}

.page-active{
    color: var(--red);
}
/* header */

/* Footer */
.footer-height{
    height: 6rem;
}

.company-img{
    width: 25%;
}
/* footer */

/* Index */
.index-hero{
    width: 100%;   
}
/* index */



/* Menu */

.our-Menu{
    color: var(--dark-red);
    font-family: 'Montauk-Light';
}

.menu-items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 20px;
}

.menu-h1{
    font-family: 'FugazOne';
    color: var(--dark-red);
}

.menu-text-color{
    color: var(--dark-red);
}

.card-title-menu{
    font-family: 'FugazOne';
}

.menu-img{
    height: 100%;
    width: 100%;
}


/* Catering */
#Catering-Maine{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#Catering-Services{
    margin: 0;
}
.catering-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    gap: 24px;
}

/* Photos */
.photo-title-text{
    background-color: var(--light);
    text-align: center;
}

.photo-width{
    width: 100%;
}

.photo-boarder{
    border: 8px solid var(--light);
}

#popover-button{
    border: none;
    background-color: rgba(245, 245, 220, 0);
}

/* photos */


@media  (max-width:992px) and (min-width:764px){
    .About-Page-Header-Image{
        padding-right: 0px;
    }
    .About-Page-Card-Two{
        padding-right: 0px;
        border-radius: 50%;
    }
    .About-Page-Card-Three{
        padding-left: 0px;
        
    }
    .About-Page-Card-Four{
        padding-right: 0px;
    }
    .About-Page-Card-Five{
        padding-left: 0px;
    }
    .About-Page-Card-Six{

    }
}


@media screen and (max-width: 768px){
    .company-img{
        width: 75%;
    }

    .menu-items{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto auto auto auto;
        gap: 20px;
    }
}