:root{
    --dark-red: #5f002b;
    --light-brown: #f2e9d9;
    --light: #ffffff;
    --red: #980051;
}

@font-face{
    font-family: 'FugazOne';
    src: url(/assets/fonts/FugazOne-Regular.ttf);
}

@font-face{
    font-family: 'Montauk';
    src: url(/assets/fonts/Montauk-Regular.otf);
}

body{
    background-image: url('/assets/bgtexture.jpg');
    background-repeat: repeat;
}

p {
    font-family: 'Montauk';
    color: #5f002b;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'FugazOne';
    color: #5f002b;
}